*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.topnav{
    width:770px;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
    padding-top: 20px;
}
.topnav a {
    color: #C85F5F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.fa-brands:hover{
    color: rgb(212, 209, 209);
}
.topnav a:hover {
color: rgb(212, 209, 209);
}
.logo{
    border-radius: 35px;
    color: #f2f2f2;
    float: left;
    text-decoration: none;
    width: 100px;
    height: 100px;
}
.myDiv{
    margin-left: 350px;
}
.myBtn{
    width: 70px;
    height: 150px;
    margin-left: 4px;
    margin-top: 10px;
    background-color: #de6969;
   
    border: 1px solid transparent;
    border-radius: 30px;
    height: fit-content;
    text-decoration: none;
}
.myBtn a{
    text-decoration: none;
    color: rgb(252, 252, 252);
}
.myBtn a:hover {
    color: rgb(28, 3, 3);
}
header{
    margin-bottom: 60px;
}
.container{
    margin-left: 350px;
    position: relative;
    text-align: center;
    color: white;
    width:770px;
   
}
.video{
    position: relative;
  text-align: center;
  color: white;
  width:770px;
  height:440px;
}
.video source {
    display: block;
    object-fit: cover;
}
.text-box{
    position: absolute;
    top: 260px;
    left: -20px;
    background-color: rgb(0, 0, 0);
    width: 350px;
    height: 150px;
    opacity: 0.7;
    color: #f2f2f2;
    margin-left: 60px;
}
.text-box>*{
    margin: 10px;
}
.parti2{
    position: relative;
    margin-left: 350px;
    width:770px;
    height:282px;
    background-color: #C85F5F;
}
.text-box2>*{
    margin: 10px;
}
.text-box2{
    background-color: rgb(0, 0, 0);
    width: 350px;
    height: 150px;
    opacity: 0.7;
    color: #f2f2f2;
    margin-left: 60px;
    position: absolute;
    top: 40px;
    
}
.text-box2 h1{
    font-size: larger;
    color: #f80404;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.border-dashed{
    border: 5px dashed rgb(255, 255, 255);
    border-radius: 8px;
}
.img-intro{
    position: absolute;
    right: 70px;
    top: 50px;
    width:250px;
    height:182px;
}
#Galerie{
    width:770px;
    margin-left: 350px;
}
.intro-gallary{
    padding: 20px;
    text-align: center;
}
.box-content{
    background-color: #404040;
    width:770px;
    height: 280px;
}
/*
#content{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img-box{
    width: 179px;
    height: 123px;
}
*/
#allimg{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 60px;
}
#allimg a{
    text-decoration: none;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: #404040;
}
#allimg a:hover{
    color: #C85F5F;
}
.img-gallry{
    width: 280px;
    height: 246px;
    opacity: 0.7;
    border-radius: 10%;
}
.parent{
    position: relative;
   
}
.parent:hover{
   transform:scale(0.9);
   transition:0.5s;
   font-size: 20px;
   font-weight: bolder;
}
.parent a:hover{
    color: #810101;
}
.end-gallary{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    padding-top: 30px;
    margin-left: 80px;
}
.p1-mid{
    position: absolute;
    top: 45%;
    left: 38%;
}
.p2-mid{
    position: absolute;
    top: 45%;
    left: 38%;
}
.p1-mid a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: light;
}
.p2-mid a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: light;
}
.flex-menu{
    border-top: 5px dashed rgb(255, 255, 255);
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 350px;
    width:770px;
    height:282px;
    background-color: #C85F5F;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.text-menu h1{
    font-size: larger;
    color: #f80404;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.text-menu{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    width: 350px;
    height: 150px;
    opacity: 0.7;
    color: #f2f2f2;
    margin-left: 60px;
    position: absolute;
    top: 60px;
}
.menu-img{
    position: absolute;
    top: 25px;
    right:10%;
    width: 240px;
    height: 226px;
    border-radius: 10%;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .accordion:hover {
background-color: #C85F5F; 
}
.panel {
padding: 0 18px;
display: none;
background-color: white;
overflow: hidden;
}
#menu-acc{
margin-top: 3px;
border-radius: 8px;
margin-left: 350px;
width:770px;
margin-bottom: 10px;
}
.info-menu{
    margin: 10px;
    width:770px;
    height:62px;
    margin-left: 360px;
}
.menu{
    padding: 3px;
font-size: medium;
font-family:Georgia, 'Times New Roman', Times, serif;
color: #cc3434;

}
.menu-info{
    padding: 3px;
    font-size: small;
    font-weight: light;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(61, 26, 26);
}
.flex-event{
    margin-top: 20px;
    border-top: 4px dashed #C85F5F;
    margin-left: 350px;
    width:770px;
    height:282px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.text-event{
    padding: 50px;
    background-color: rgb(0, 0, 0);
    width: 280px;
    height: 150px;
    opacity: 0.7;
    color: #f2f2f2;
    margin-left: 40px;
    position: absolute;
    top: 60px;
}
.event-img{
    position: absolute;
    top: 25px;
    right:10%;
    width: 320px;
    height: 230px;
    border-radius: 10%;
}
.event-content{
    background-color: #404040;
    width:770px;
    height: 410px;
    margin-left: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: scroll;
}
.event-content >*{
    font-size: 12px;
    line-height: 18.15px;
    font-weight: 700;
    padding: 9px;
    color: #f2f2f2;
    font-family: 'Inter', sans-serif;

}
.evenment-img{
    border-radius: 10%;
    width: 149px;
    height: 123px;
    padding-bottom: 4px;
}
.text-box-event{
    padding-top: 4px;
    width: 80px;
    margin-left: 4px;
}
.contact-box{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
    width:770px;
    height:500px;
    background-color: #C85F5F;
    gap: 30px;
    border-top: 5px dashed rgb(255, 255, 255);
}
.contact-box >*{
    margin-left: 10px;
    color: #f2f2f2;
    text-align: center;
    font-size: small;
}
.form {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:black;
	padding:25px;
	margin:30px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#DCDCDC;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:gold;
	color:black;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
#footer{
    margin-left: 350px;
    width:770px;
    height:150px;
    background-color: #404040;
}
.footer-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    color: #f2f2f2;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.footer-flex>*{
    padding: 20px;
}
.social-media >li{
    margin-left: 10px;
}
.fa-brands:before{
    color: #f2f2f2;
}
#myBtn{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: #f2f2f2;
    background: #555;
    box-shadow: 0 0 10xp rgb(255, 255, 255);
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
#myBtn:active{
    background: rgb(141, 139, 139);
}
#toggle{
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: block;
    width: 90px;
    height: 50px;
    border-radius: 50px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}
#toggle .indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom , #444,#222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(225,225,255,0.2),
                inset 0 -4px 4px rgba(225,225,255,0.2);
    transition: 0.5s;
}
#toggle.active .indicator{
    left: 38px;
    background: linear-gradient(to bottom , #eaeaea,#f9f9f9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
                inset 0 4px 4px rgba(225,225,255,1),
                inset 0 -4px 4px rgba(225,225,255,1);
}
body{
    transition: 0.5s;
}
body.active{
    background: #222;
    color: #f2f2f2;
}
body.active #allimg a{
    color: #f2f2f2;
}
body.active #allimg a:hover{
    color: #C85F5F;
}
#toggle.active{
    background: rgb(228, 227, 227);
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                inset 0 2px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
span#burger.fas.fa-bars.fa-2x.mobile{
    display: none;
 }
 li { 
    font-size: 1.4rem;	
  }

  .burger { display: block; list-style-type: none;  }
  .burger ul { text-align: center; }
  .burger li { display: inline-block; width: 13%; list-style: none;  color: #fff; }
  .burger li a { display: block; padding: 15px; text-decoration: none; color: #C85F5F; transition: 0.8s; }
  .burger li a:hover {  color: rgb(212, 209, 209);}
  .burger label { display: none; }
  #menu-toggle { display: none; }
  
  @media all and (max-width: 700px) and (min-width: 0px) {
  .burger label { display: block; height: 70px; width: 70px; line-height: 70px; text-align: center; color: rgb(14, 13, 13); font-size: 1.8rem;  cursor: pointer; }
  .burger .nav { display: none; }
  .burger li { width: 100%; }
  #menu-toggle:checked + .nav { display: block; }
  .burger label:active .nav { display: none;  }
  }
  .h1-mobile{
    display: none;
  }
  .swiper {
    width: 600px;
}
.adress{
    margin-top: 15px;
}
/* pour les ecran jusqua une largeur de 800px */
@media screen and (max-width:800px){
    .adress{
        margin-top: 50px;
    }
    .contact-box{
        display: block;
        height: 879px;
    }
    .adress-mobile{
        margin-left: -10px;
        width: 400px;
        height: 383.400px;
    }
    #contact{
        margin-left: 5px;
        margin: 0px;
        padding: 0px;
    }
    .swiper {
        width: 100%;
        height: 100%;
        width: 700px;
    }
    .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }

    .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    header{
        margin-bottom: 0px;
    }
    .intro-gallary{
        padding: 8px;
    }
    .text-box{
        top: 240px;
    }
    .p-normal, .end-gallary, .flex-menu{
        display: none;
    }
    .h1-mobile{
        margin-top: 15px;
        font-size: 25px;
        width: 300px;
        display: block;
    }
    .video{
        margin: 0px;
        padding: 0px;
    }
    .info-menu{
        height: fit-content;
    }
    .intro-gallary{
        padding: 15px;
    }
    .intro-gallary p{
        display: none;
    }
    .intro-gallary h1{
        font-size: 25px;
        width: 300px;
    }
    .parti2{
        display: none;
    }
    .visible{
        opacity: 0;
    }
    .myDiv{
        margin-left: 0px;
    }
    .container{
        text-align: start;
        width: 700px;
        margin: 0px;
    }
    .parti2{
        margin-left: 0px;
    }
    #Galerie{
        margin-left: 0px;
    }
    .flex-event{
        margin-left: 0px;
    }
    .event-content{
        margin-left: 0px;
    }
    .contact-box{
        margin-left: 0px;
    }
    #footer{
        margin-left: 0px;
    }
    .flex-menu{
        margin-left: 0px;
    }
    .info-menu{
        margin-left: 0px;
    }
    #menu-acc{
        margin-left: 0px;
    }
    .logo{
        display: none;
    }
    .topnav{
        text-align: start;
        padding-top: 0px;
        margin-left: 10px;
        margin-top: 10px;
        flex-direction: column;
    }
    .topnav a{
        text-align: start;
       padding: 7px 8px;
    }
}